/// <reference path="../project.less" />

/*------------------------------------*\
	#BTN
\*------------------------------------*/

.btn[disabled],
.btn--disabled,
.btn--disabled:hover,
.btn--disabled:active,
.btn--disabled:focus {
	opacity: 0.40;
	cursor: not-allowed;
	box-shadow: none;
}

.btn--hidden {
	display: none;
}


.btn--primary,
.btn--selected {
	background-color: rgb(0, 120, 231);
	color: #fff;
}