/*------------------------------------*\
	#OVERRIDE DEFAULTS HERE
\*------------------------------------*/
@base-font-size:    16px;
@base-line-height:  24px;
@base-font-family:  sans-serif;



/*------------------------------------*\
	#RESPONSIVE
\*------------------------------------*/
@lap-start:         600px;
@desk-start:        850px;
@lap-end:           849px; /* @desk-start - 1px; */
@responsive:        true;
@responsive-spacing:true;



/*------------------------------------*\
	#FONT-SIZES
\*------------------------------------*/
@giga-size:         96px;
@mega-size:         48px;
@kilo-size:         36px;

@h1-size:           28px; // .alpha
@h2-size:           24px; // .beta
@h3-size:           22px; // .gamma
@h4-size:           18px; // .delta
@h5-size:           16px; // .epsilon
@h6-size:           14px; // .zeta

@milli-size:        12px;
@micro-size:        10px;



/*------------------------------------*\
	#BRAND
\*------------------------------------*/
@brand-color:       #7b4091;
@brand-face:        sans-serif;



/*------------------------------------*\
	#COLORS
\*------------------------------------*/
@html-color:        #0f0f0f;
@base-ui-color:     #d6d6d6;
@link-color:        @brand-color;
@link-color-hover:  darken(@link-color, 10);

@color-grey:        #979797;
@color-dark-grey:   #3b3b3b;
@color-light-grey:  #f9f9f9;



/*------------------------------------*\
	#BUTTONS
\*------------------------------------*/
@btn-background:      #4a8ec2;
@btn-color:           #fff;
@btn-border-width:    1px;
@btn-border-style:    solid;
@btn-border-color:    darken(@btn-background, 10);
@btn-radius:          0;

@enable-btn--small:   true;
@enable-btn--large:   true;
@enable-btn--full:    true;
@enable-btn--pill:    true;



/*------------------------------------*\
	#BOX
\*------------------------------------*/
@enable-box--flush:   true;
@enable-box--tiny:    true;
@enable-box--small:   true;
@enable-box--large:   true;
@enable-box--huge:    true;



/*------------------------------------*\
	#TABLES
\*------------------------------------*/
@table-border-width:      1px;
@table-border-style:      solid;
@table-border-color:      #ccc;

@enable-table--fixed:     true;
@enable-table--compact:   true;
@enable-table--cosy:      true;
@enable-table--comfy:     true;
@enable-table--cells:     true;
@enable-table--rows:      true;
@enable-table--columns:   true;



/*------------------------------------*\
	#FLAG
\*------------------------------------*/
@enable-flag--tiny:       true;
@enable-flag--small:      true;
@enable-flag--large:      true;
@enable-flag--huge:       true;
@enable-flag--rev:        true;
@enable-flag--flush:      true;
@enable-flag--top:        true;
@enable-flag--bottom:     true;
@enable-flag--responsive: true;
@flag-collapse-at:        720px;



/*------------------------------------*\
	#MEDIA
\*------------------------------------*/
@enable-media--tiny:          true;
@enable-media--small:         true;
@enable-media--large:         true;
@enable-media--huge:          true;
@enable-media--rev:           true;
@enable-media--flush:         true;
@enable-media--responsive:    true;
@media-collapse-at:           720px;



/*------------------------------------*\
	#LIST-BLOCK
\*------------------------------------*/
@enable-list-block--tiny:     true;
@enable-list-block--small:    true;
@enable-list-block--large:    true;



/*------------------------------------*\
	#LIST-UI
\*------------------------------------*/
@list-ui-border-width:    1px;
@list-ui-border-style:    solid;
@list-ui-border-color:    #ccc;

@enable-list-ui--tiny:    true;
@enable-list-ui--small:   true;
@enable-list-ui--large:   true;
@enable-list-ui--huge:    true;



/*------------------------------------*\
	#LIST-INLINE
\*------------------------------------*/
@enable-list-inline--delimited:   true;
@list-inline-delimit-character:   ",\00A0";



/*------------------------------------*\
	#LAYOUT
\*------------------------------------*/
@enable-layout--tiny:     true;
@enable-layout--small:    true;
@enable-layout--large:    true;
@enable-layout--huge:     true;
@enable-layout--flush:    true;
@enable-layout--rev:      true;
@enable-layout--middle:   true;
@enable-layout--bottom:   true;
@enable-layout--right:    true;
@enable-layout--center:   true;
@enable-layout--auto:     true;



/*------------------------------------*\
	#SPACING
\*------------------------------------*/
@enable-margins:                  true;
@enable-margins--tiny:            true;
@enable-margins--small:           true;
@enable-margins--large:           true;
@enable-margins--huge:            true;

@enable-margins--negative:        true;
@enable-margins--negative-tiny:   true;
@enable-margins--negative-small:  true;
@enable-margins--negative-large:  true;
@enable-margins--negative-huge:   true;

@enable-margins--none:            true;

@enable-paddings:                 true;
@enable-paddings--tiny:           true;
@enable-paddings--small:          true;
@enable-paddings--large:          true;
@enable-paddings--huge:           true;

@enable-paddings--none:           true;



/*------------------------------------*\
	#RESPONSIVE-SPACING
\*------------------------------------*/
@enable-responsive-margins:                   true;
@enable-responsive-margins--tiny:             true;
@enable-responsive-margins--small:            true;
@enable-responsive-margins--large:            true;
@enable-responsive-margins--huge:             true;

@enable-responsive-margins--negative:         true;
@enable-responsive-margins--negative-tiny:    true;
@enable-responsive-margins--negative-small:   true;
@enable-responsive-margins--negative-large:   true;
@enable-responsive-margins--negative-huge:    true;

@enable-responsive-margins--none:             true;

@enable-responsive-paddings:                  true;
@enable-responsive-paddings--tiny:            true;
@enable-responsive-paddings--small:           true;
@enable-responsive-paddings--large:           true;
@enable-responsive-paddings--huge:            true;

@enable-responsive-paddings--none:            true;



/*------------------------------------*\
	#ENABLE OTHER OBJECTS
\*------------------------------------*/
@use-box:             true;
@use-buttons:         true;
@use-flag:            true;
@use-layout:          true;
@use-list-bare:       true;
@use-list-block:      true;
@use-list-inline:     true;
@use-list-ui:         true;
@use-media:           true;
@use-split:           true;
@use-tables:          true;
@use-tabs:            true;
@use-width-fractions: true;
