/*------------------------------------*\
	#PROJECT SETTINGS AND VARIABLES
\*------------------------------------*/
@base-font-size:    16px;
@base-line-height:  24px;
@base-font-family:  sans-serif;

@base-text-color:       #333;
@base-background-color: #fff;
@base-ui-color:         #d6d6d6;

@base-spacing-unit: @base-line-height;
@base-spacing-unit--tiny: round(@base-spacing-unit / 4);
@base-spacing-unit--small: round(@base-spacing-unit / 2);
@base-spacing-unit--large: round(@base-spacing-unit * 2);
@base-spacing-unit--huge: round(@base-spacing-unit * 4);



/*------------------------------------*\
	#BRAND
\*------------------------------------*/
@brand-face:        sans-serif;
@brand-color:       #7b4091;



/*------------------------------------*\
	#COLORS
\*------------------------------------*/
@link-color:        @brand-color;
@link-color-hover:  lighten(@link-color, 10);



/*------------------------------------*\
	#RESPONSIVE
\*------------------------------------*/
@responsive:         true;
@responsive-spacing: false;
@flag-collapse-at:   720px;
@media-collapse-at:  720px;

@lap-start:  600px;
@desk-start: 850px;
@lap-end:    @desk-start - 1px;

@breakpoints:
	"lap-"           "screen and (min-width: @{lap-start}) and (max-width: @{lap-end})",
	"lap-and-up-"    "screen and (min-width: @{lap-start})",
	"desk-"          "screen and (min-width: @{desk-start})";



/*------------------------------------*\
	#ENABLE/DISABLE FRAMEWORK OBJECTS
\*------------------------------------*/
@use-layout:          true;
@use-flag:            true;
@use-media:           true;
@use-list-bare:       true;
@use-list-block:      true;
@use-list-ui:         true;
@use-list-inline:     true;
@use-tables:          true;
@use-tabs:            true;
@use-box:             true;
@use-pack:            true;
@use-block:           true;
@use-split:           true;
@use-width-fractions: true;



/*------------------------------------*\
	#CONFIGURE OBJECTS
\*------------------------------------*/

/**
* All object/utility variables available in kri.less.
* Everything is off by default.
* #TODO: Remove vars below if you don't need them
*/



/**
 * Box
 */
@box-padding:         @base-spacing-unit;
@box-padding--tiny:   round(@box-padding / 4);
@box-padding--small:  round(@box-padding / 2);
@box-padding--large:  round(@box-padding * 2);
@box-padding--huge:   round(@box-padding * 4);

@enable-box--flush:   true;
@enable-box--tiny:    true;
@enable-box--small:   true;
@enable-box--large:   true;
@enable-box--huge:    true;



/**
 * Pack
 */
@pack-gutter:         @base-spacing-unit;
@pack-gutter--tiny:   round(@pack-gutter / 4);
@pack-gutter--small:  round(@pack-gutter / 2);
@pack-gutter--large:  round(@pack-gutter * 2);
@pack-gutter--huge:   round(@pack-gutter * 4);

@enable-pack--auto:   true;
@enable-pack--tiny:   true;
@enable-pack--small:  true;
@enable-pack--large:  true;
@enable-pack--huge:   true;
@enable-pack--rev:    true;
@enable-pack--middle: true;
@enable-pack--bottom: true;



/**
 * Block
 */
@block-gutter:            @base-spacing-unit;
@block-gutter--tiny:      round(@block-gutter / 4);
@block-gutter--small:     round(@block-gutter / 2);
@block-gutter--large:     round(@block-gutter * 2);
@block-gutter--huge:      round(@block-gutter * 4);

@enable-block--flush:     true;
@enable-block--tiny:      true;
@enable-block--small:     true;
@enable-block--large:     true;
@enable-block--huge:      true;
@enable-block--center:    true;
@enable-block--right:     true;



/**
 * Tables
 */
@table-padding--compact:  round(@base-spacing-unit / 4);
@table-padding--cosy:     round(@base-spacing-unit / 2);
@table-padding--comfy:    @base-spacing-unit;

@table-border-width:      1px;
@table-border-style:      solid;
@table-border-color:      #ccc;

@enable-table--fixed:     true;
@enable-table--compact:   true;
@enable-table--cosy:      true;
@enable-table--comfy:     true;
@enable-table--cells:     true;
@enable-table--rows:      true;
@enable-table--columns:   true;



/**
 * Flag
 */
@flag-gutter:             @base-spacing-unit;
@flag-gutter--tiny:       round(@flag-gutter / 4);
@flag-gutter--small:      round(@flag-gutter / 2);
@flag-gutter--large:      round(@flag-gutter * 2);
@flag-gutter--huge:       round(@flag-gutter * 4);

@enable-flag--tiny:       true;
@enable-flag--small:      true;
@enable-flag--large:      true;
@enable-flag--huge:       true;
@enable-flag--rev:        true;
@enable-flag--flush:      true;
@enable-flag--top:        true;
@enable-flag--bottom:     true;
@enable-flag--responsive: true;



/**
 * Media
 */
@media-gutter:                @base-spacing-unit;
@media-gutter--tiny:          round(@media-gutter / 4);
@media-gutter--small:         round(@media-gutter / 2);
@media-gutter--large:         round(@media-gutter * 2);
@media-gutter--huge:          round(@media-gutter * 4);

@enable-media--tiny:          true;
@enable-media--small:         true;
@enable-media--large:         true;
@enable-media--huge:          true;
@enable-media--rev:           true;
@enable-media--flush:         true;
@enable-media--responsive:    true;



/**
 * List-block
 */
@list-block-padding:          @base-spacing-unit;
@list-block-padding--tiny:    round(@list-block-padding / 4);
@list-block-padding--small:   round(@list-block-padding / 2);
@list-block-padding--large:   round(@list-block-padding * 2);
@list-block-padding--huge:    round(@list-block-padding *4);

@enable-list-block--tiny:     true;
@enable-list-block--small:    true;
@enable-list-block--large:    true;
@enable-list-block--huge:     true;



/**
 * List-inline
 */
@enable-list-inline--delimited:   true;
@list-inline-delimit-character:   ",\00A0";



/**
 * List-ui
 */
@list-ui-padding:         @base-spacing-unit;
@list-ui-padding--tiny:   round(@list-ui-padding / 4);
@list-ui-padding--small:  round(@list-ui-padding / 2);
@list-ui-padding--large:  round(@list-ui-padding * 2);
@list-ui-padding--huge:   round(@list-ui-padding * 4);

@list-ui-border-width:    1px;
@list-ui-border-style:    solid;
@list-ui-border-color:    #ccc;

@enable-list-ui--tiny:    true;
@enable-list-ui--small:   true;
@enable-list-ui--large:   true;
@enable-list-ui--huge:    true;



/**
 * Layout
 */
@layout-gutter:           @base-spacing-unit;
@layout-gutter--tiny:     round(@layout-gutter / 4);
@layout-gutter--small:    round(@layout-gutter / 2);
@layout-gutter--large:    round(@layout-gutter * 2);
@layout-gutter--huge:     round(@layout-gutter * 4);

@enable-layout--tiny:     true;
@enable-layout--small:    true;
@enable-layout--large:    true;
@enable-layout--huge:     true;
@enable-layout--flush:    true;
@enable-layout--rev:      true;
@enable-layout--middle:   true;
@enable-layout--bottom:   true;
@enable-layout--right:    true;
@enable-layout--center:   true;
@enable-layout--auto:     true;



/**
 * Spacing
 */
@margin:                          @base-spacing-unit;
@margin--small:                   round(@margin / 2);
@margin--tiny:                    round(@margin / 4);
@margin--large:                   round(@margin * 2);
@margin--huge:                    round(@margin * 4);

@padding:                         @base-spacing-unit;
@padding--small:                  round(@padding / 2);
@padding--tiny:                   round(@padding / 4);
@padding--large:                  round(@padding * 2);
@padding--huge:                   round(@padding * 4);

@enable-margins:                  true;
@enable-margins--tiny:            true;
@enable-margins--small:           true;
@enable-margins--large:           true;
@enable-margins--huge:            true;

@enable-margins--negative:        true;
@enable-margins--negative-tiny:   true;
@enable-margins--negative-small:  true;
@enable-margins--negative-large:  true;
@enable-margins--negative-huge:   true;

@enable-margins--none:            true;

@enable-paddings:                 true;
@enable-paddings--tiny:           true;
@enable-paddings--small:          true;
@enable-paddings--large:          true;
@enable-paddings--huge:           true;

@enable-paddings--none:           true;



/**
 * Responsive spacing
 */
@enable-responsive-margins:                   true;
@enable-responsive-margins--tiny:             true;
@enable-responsive-margins--small:            true;
@enable-responsive-margins--large:            true;
@enable-responsive-margins--huge:             true;

@enable-responsive-margins--negative:         true;
@enable-responsive-margins--negative-tiny:    true;
@enable-responsive-margins--negative-small:   true;
@enable-responsive-margins--negative-large:   true;
@enable-responsive-margins--negative-huge:    true;

@enable-responsive-margins--none:             true;

@enable-responsive-paddings:                  true;
@enable-responsive-paddings--tiny:            true;
@enable-responsive-paddings--small:           true;
@enable-responsive-paddings--large:           true;
@enable-responsive-paddings--huge:            true;

@enable-responsive-paddings--none:            true;
