/*------------------------------------*\
    $OVERRIDE DEFAULTS HERE
\*------------------------------------*/
@base-font-size:    16px;
@base-line-height:  24px;
@base-font-family:  sans-serif;
@base-ui-color:     #ebebeb;



/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
@lap-start:         600px;
@desk-start:        850px;
@lap-end:           849px; /* @desk-start - 1px; */
@responsive:        true;



/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
@giga-size:         96px;
@mega-size:         48px;
@kilo-size:         36px;

@h1-size:           28px; // .alpha
@h2-size:           24px; // .beta
@h3-size:           22px; // .gamma
@h4-size:           18px; // .delta
@h5-size:           16px; // .epsilon
@h6-size:           14px; // .zeta

@milli-size:        12px;
@micro-size:        10px;



/*------------------------------------*\
    $BRAND
\*------------------------------------*/
@brand-color:       #7b4091;
@brand-face:        sans-serif;



/*------------------------------------*\
    $COLORS
\*------------------------------------*/
@html-color:        #0f0f0f;
@base-ui-color:     #d6d6d6;
@link-color:        @brand-color;
@link-color-hover:  darken(@link-color, 10%);

@color-grey:        #979797;
@color-dark-grey:   #3b3b3b;
@color-light-grey:  #f9f9f9;



/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
@btn-background:      #4a8ec2;
@btn-color:           #fff;
@btn-border-width:    1px;
@btn-border-style:    solid;
@btn-border-color:    @btn-background;
@btn-radius:          0;

@enable-btn--small:   true;
@enable-btn--large:   true;
@enable-btn--full:    true;
@enable-btn--pill:    true;



/*------------------------------------*\
    #BOX
\*------------------------------------*/
@enable-box--flush:   true;
@enable-box--tiny:    true;
@enable-box--small:   true;
@enable-box--large:   true;
@enable-box--huge:    true;



/*------------------------------------*\
    #TABLES
\*------------------------------------*/
@table-border-width:      1px;
@table-border-style:      solid;
@table-border-color:      #ccc;

@enable-table--fixed:     true;
@enable-table--compact:   true;
@enable-table--cosy:      true;
@enable-table--comfy:     true;
@enable-table--cells:     true;
@enable-table--rows:      true;
@enable-table--columns:   true;



/*------------------------------------*\
    $ENABLE OTHER OBJECTS
\*------------------------------------*/
@use-forms:         true;
@use-grids:         true;
@use-nav:           true;
@use-tabs:          true;
@use-box:           true;
@use-pagination:    true;
@use-breadcrumb:    true;
@use-media:         true;
@use-block-list:    true;
@use-matrix:        true;
@use-split:         true;
@use-buttons:       true;
@use-icon-font:     true;
