/*------------------------------------*\
	$BASE
\*------------------------------------*/
@base-font-size:    16px;
@base-line-height:  24px;
@base-font-family:  sans-serif;

@base-text-color:       #333;
@base-background-color: #fff;
@base-ui-color:         #ebebeb;

@base-spacing-unit: @base-line-height;
@base-spacing-unit--tiny: round(@base-spacing-unit / 4);
@base-spacing-unit--small: round(@base-spacing-unit / 2);
@base-spacing-unit--large: round(@base-spacing-unit * 2);
@base-spacing-unit--huge: round(@base-spacing-unit * 4);



/*------------------------------------*\
	$RESPONSIVE
\*------------------------------------*/
@responsive:         true;
@responsive-spacing: false;

@lap-start:  600px;
@desk-start: 850px;
@lap-end:    @desk-start - 1px;

@breakpoints:
	"lap-"           "screen and (min-width: @{lap-start}) and (max-width: @{lap-end})",
	"lap-and-up-"    "screen and (min-width: @{lap-start})",
	"desk-"          "screen and (min-width: @{desk-start})";



/*------------------------------------*\
	$ENABLE OTHER OBJECTS
\*------------------------------------*/
@use-layout:          false;
@use-flag:            false;
@use-media:           false;
@use-list-bare:       false;
@use-list-block:      false;
@use-list-ui:         false;
@use-list-inline:     false;
@use-tables:          false;
@use-tabs:            false;
@use-box:             false;
@use-pack:            false;
@use-block:           false;
@use-split:           false;
@use-width-fractions: false;