/*------------------------------------*\
	#WIDTHS-RESPONSIVE
\*------------------------------------*/

& when (@responsive = true) {

	// Loop through the list of breakpoints we’ve provided in our settings file.
	.loop-breakpoints(@breakpoints, @mixin) {

		.loop(@i) when (@i > 0) {
			
			.loop((@i - 1));

			@alias: extract(extract(@breakpoints, @i), 1);
			@condition: extract(extract(@breakpoints, @i), 2);

			& when (isstring(@alias)) and (isstring(@condition)) {

				@unquotedCondition: e(@condition);
				@unquotedAlias: e(@alias);

				// Setup widths
				@media @unquotedCondition {
					
					/*
					.generateClasses (@in:"") {
						@concatenate: "@{in} .repeatedClass";
						@selector: ~".staticClass @{concatenate} > .finalStaticClass";
						@{selector}{ height: unit(@n,px) };
						
					}

					.generateClasses(@n, @in){};

					.generateClasses(10px);
					*/

					.setup-widths(@unquotedAlias) !important;
				}

			}

		}

		.loop(length(@breakpoints));

	}

	.loop-breakpoints(@breakpoints, ".setup-widths");

}
